<div class='row-container vh-100 auth-background'>
  <div class='w-50 vertical-centered mobile-auth'>
    <div class='logo'>
    </div>
  </div>
  <div class='w-50 mb-75 vertical-centered vertical-centered-auth'>
    <div>
      <%= image_tag '/images/logo.png', size: '660x460' %>
    </div>

      <%= render 'form' %>

  </div>
</div>
