.copyright-footer {
  margin-top: auto;
  width: 100%;
}

.footer-bg {
  background-color: rgb(180, 222, 242);
}

.bg-grey {
  background-color: rgb(204, 208, 209);
}

.cp-text{
  margin-left: 30px;
  color: rgba(0,0,0,.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}