.navbar {
  width: 70%;
  height: 300px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: lightgrey;
}

.navbar-flyout {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 20px;
  width: 69vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {
  display: block !important;
}

.none {
  display: none;
}
