.vh-100 {
  height: 100vh;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.ml-35 {
  margin-left: 35px;
}

.mb-150 {
  margin-bottom: 150px;
}

.pt-10 {
  padding-top: 10px;
}