input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input {
  background-color: transparent;
  border: none;
  width: 10px;
}

.number-button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
