<div>
  <%= link_to 'articles', admin_articles_path %>
</div>
<div>
  <%= link_to 'catégories', admin_categories_path %>
</div>
<div>
  <%= link_to 'Document légaux', admin_legal_documents_path %>
</div>
<div>
  <%= link_to 'Utilisateur', admin_user_managements_path %>
</div>
<div>
</div>